@{
    var isAuthenticated = (bool)ViewBag.IsAuthenticated;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleBot</title>
    <link href="~/css/site.min.css" rel="stylesheet" />
    <script defer src="~/js/site.min.js?v=4192020"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark noPrint" style="margin-bottom: 15px">
        <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
            <span class=navbar-toggler-icon></span>
        </button>
        <div class="collapse navbar-collapse" id=navbarSupportedContent>
            <ul class="navbar-nav mx-auto" id="navmenu">
                <li class="nav-item px-4">
                    <a class="nav-link" href="/">Home</a>
                </li>

                @if (isAuthenticated)
                {
                    <li class="nav-item px-4 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lists
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Replies", "Entries")">Auto replies</a>
                            <a class="dropdown-item" href="@Url.Action("RandomInsults", "Entries")">Insults</a>
                        </div>
                    </li>

                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item px-4">
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">Admin</a>
                        </li>
                    }

                    <li class="nav-item px-4">
                        <a class="nav-link" href="@Url.Action("Logout", "Account")">Logoff</a>
                    </li>
                }
                else
                {
                    <li class="nav-item px-4">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Logon</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    @RenderBody()

    <environment include="Development"></environment>
    <environment exclude="Development"></environment>

    @Html.Raw(ViewBag.Configuration["FooterText"])

    @RenderSection("Scripts", required: false)

</body>
</html>
